.home .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

/*******************************************************************************
 *                                                                             *
 * Status server                                                               *
 *                                                                             *
 ******************************************************************************/

.status-server {
    top: -99999;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background);
    width: 25rem;
    height: 3rem;
    color: var(--color);
    border-radius: 10px;
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
}

.server-status-icon {
    height: 3.3rem;
}

.server-status-name {
    font-size: 1.5rem;
    color: var(--color);
}

.server-status-text {
    font-size: 0.6rem;
    color: #1AC707;
}

.server-status-infos .red {
    color: #FF0409;
}

.status-player-count {
    background: var(--shadow);
    min-width: 3rem;
    height: 3rem;
    border-radius: 10px;
}

.player-count {
    font-size: 1.5rem;
    margin: 0.4rem 0.5rem;
}

.status-player-count:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    border: solid 5px var(--background);
    background: #1AC707;
}

.red:after {
    background: #FF0409;
}

.home-bottom {
    position: relative;
    width: 100%;
    height: calc(100% - 80px - 8rem);
    display: flex;
}

/*******************************************************************************
 *                                                                             *
 * news server                                                                 *
 *                                                                             *
 ******************************************************************************/

.new-tab {
    left: 234px;
    position: relative;
    top: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 47.3%;
}

.titre-tab-new {
    font-family: 'MinecraftTen-VGORe';
    margin-top: 1rem;
    position: relative;
    left: px;
    top: -2px;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background: #2c2c2c00;
    color: var(--color);
    font-weight: 100; /* Ajusta el valor para hacer la fuente más delgada */
}

.titre-tab-new:after {
    content: '\e900'; /* El Unicode del ícono */
    font-family: 'IcoMoon'; /* Asegúrate de que la fuente IcoMoon esté cargada */
    display: block;
    font-size: 0.9rem; /* Ajusta el tamaño del ícono */
    color: var(--color); /* Aplica el mismo color que el texto principal */
    margin-top: 0.5rem; /* Espacio entre el texto y el ícono */
    text-align: center; /* Centra el ícono debajo del texto */
}


.news-list {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    margin: 1rem 0;
}

.news-block {
    width: 100%;
    margin: 0 0 1rem 0;
    border-radius: 10px;
    background: rgba(248, 249, 249, 0.14); /* Asegúrate de que el fondo tenga transparencia */
    backdrop-filter: blur(3px); /* Aplica el desenfoque */
    -webkit-backdrop-filter: blur(3px); /* Para compatibilidad con Safari */
}


.news-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
}

.header-text .title {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 1.2rem;
    text-align: center;
}

.news-header .date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-content .bbWrapper {
    padding: 0 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.news-content .bbWrapper p {
    font-weight: 100;
    margin: 0;

}

.news-content .bbWrapper .news-author {
    margin-top: 1rem;
    text-align: end;
    font-size: 0.8rem;
}

.news-content .bbWrapper .news-author span {
    font-weight: 700;
}

/*******************************************************************************
 *                                                                             *
 * social server                                                               *
 *                                                                             *
 ******************************************************************************/

.social-tab {
    top: 1px;
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    width: 10%;
    height: calc(80% - 1rem);
    justify-content: center;
    margin-bottom: 1rem;
}

.social-list {
    border-radius: 10px;
    height: 100%;
}

.social-block {
    display: flex;
    background: #f8f9f914;
    width: 90px;
    height: 90px;
    margin-bottom: 1rem;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px); /* Aplica desenfoque al fondo */
}

.social-block .icon-social {
    pointer-events: none;
    background-repeat: no-repeat;
    height: 55%;
    width: 55%;
    filter: var(--svg-color);
}

/*******************************************************************************
 *                                                                             *
 * sidebar                                                                     *
 *                                                                             *
 ******************************************************************************/

.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background: #2c2c2c00;
}

.player-options {
    position: relative;
    top: -635px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    height: 3rem;
    margin: 0 1.5rem;
}

.player-head {
    background-size: cover;
    image-rendering: pixelated;
    transition: var(--transition);
    height: 3rem;
    width: 3rem;
    pointer-events: none;
    border-radius: 15px;
}

.player-menu {
    color: var(--element-color);
    transform: rotate(270deg);
    pointer-events: none;
}

.play-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-instance {
    left: -5.5%;
    background: url('../../images/default/Jugar.png'), no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    top: -230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: solid 0px #00bd7a00;
    border-radius: 15px;
    height: 4.6rem;
    width: 19rem;
    margin: 0 auto;
    cursor: pointer;
}

.play-btn {
    position: relative;
    left: 26.5%;
    top: -3px;
    border: none;
    border-radius: 10px;
    background: none;
    color: var(--color);
    font-size: 2rem;
    font-weight: bolder;
    padding: 0 1.5rem;
    pointer-events: none;
    font-family: 'MinecraftTen-VGORe';
    font-weight: 100; /* Ajusta el valor para hacer la fuente más delgada */
}

.instance-select {
    position: absolute;
    display: flex;
    align-items: center;
    right: 310px; /* Asegúrate de especificar las unidades */
    color: #f8f9f9;
    font-size: 10px;
    height: 2rem;
    border: 0px solid #ffffff;
    text-align: center;
    border-radius: 0px;
    padding: 0 0.25rem;
    cursor: pointer;
    background: rgba(248, 249, 249, 0.14);
    backdrop-filter: blur(3px); /* Aplica un desenfoque al fondo */
    -webkit-backdrop-filter: blur(3px); /* Para compatibilidad con Safari */
}


.instance-select:before {
    font-weight: 1;
    pointer-events: none;
}

.instance-name-display {
    position: relative;
        background: rgba(248, 249, 249, 0.14);
    left: -332px;
    font-size: 12px;
    padding: 7px 20px; /* Aumenta el espacio alrededor del texto */
    border-radius: 0px; /* Puedes cambiar el radio del borde si lo prefieres */
    backdrop-filter: blur(3px); /* Aplica un desenfoque al fondo */
    -webkit-backdrop-filter: blur(3px); /* Para compatibilidad con Safari */
}


.info-starting-game {
    display: none;
    text-align: center;
}

.progress-bar {
    appearance: none;
    height: 10px;
    margin: 0.5rem 0;
}

.progress-bar::-webkit-progress-bar {
    background-color: var(--background);
    border: solid 1px var(--element-color);
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: var(--element-color);
    border-radius: 10px;
}

.settings-btn {
    background: url('../../images/default/Settings.png'), no-repeat;
    background-size: cover;
    left: -1170px;
    position: relative;
    width: 3.9rem;
    position: relative;
    top: -20px;
    height: 3rem;
    font-size: 0rem;
    color: var(--element-color);
    margin: 0 0rem;
    transform: scale(2); /* Aumenta el tamaño del botón en un 50% */
    border: none; /* Opcional: quita el borde del botón si es necesario */
}


.instance-popup {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: #000000b3;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.instances-tab {
    position: relative;
    background: var(--background);
    border-radius: 10px;
    padding: 1rem 3rem;
}

.close-popup {
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    background: var(--shadow);
    height: 30px;
    width: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.instances-tab p {
    margin-top: 1.5rem;
    font-size: 2rem;
}

.instance-elements {
    background: var(--background-element);
    text-align: center;
    border-radius: 10px;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.instance-elements:hover {
    background: var(--element-color);
}

.active-instance {
    background: var(--element-color);
}